.Footer {
  display:flex;
  justify-content:  space-around;
  text-align: center;
  background-color: var(--text-main);
  padding: 2rem 0 ;
  align-items: center;;
}

.Footer-p {
  color: var(--bg-main);
}

.Footer-a {
  color: var(--bg-main);
  transition: all 0.3s ease;
}

.Footer-a:hover{
  color: var(--accent-hover);
}

@media screen and (max-width : 769px){
  .Footer{
  flex-direction: column-reverse;
  align-items: center;

 }
}