.Hero-section {
  position: relative; 
  width: 100%;
  line-height: 0;
}

.Hero-imageHero {
  width : 100%;
  height: auto;
  display: block;
}

.Hero-link {
  background-color: var(--accent);
  color: var(--text-main);
  padding: 15px 50px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.Hero-link:hover {
  background-color: var(--accent-hover);
  color:var(--bg-main);
}

.Hero-link-container {
  position: absolute;
  bottom: 10%;       
  left: 15%;         
  display: flex;
  gap: 20%;
}