.Hero-section {
  position: relative; 
  width: 100%;
  line-height: 0;
}

.Hero-imageHero {
  width : 100%;
  height: auto;
  display: block;
}

.Hero-link-container {
  position: absolute;
  bottom: 10%;
  left: 50%; /* On centre par rapport au milieu */
  transform: translateX(-50%); /* Décalage pour un centrage parfait */
  display: flex;
  gap: 4rem; /* Utiliser des rem ou px plutôt que % pour le gap est plus stable */
  width: 90%; /* Prend presque toute la largeur sur mobile */
  justify-content: center;
  flex-wrap: wrap; 
} 

.Hero-link {
  flex: 1; 
  min-width: 150px; 
  max-width: 250px; 
  min-height: 50px;
  font-size: 1.1rem; 
  min-height: 60px;
  display: flex ;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--text-main);
  background: linear-gradient(90deg, #0284C7 0%,#0369a1 100%);
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  padding: 10px;
  }


.Hero-link:hover{
  color: var(--text-secondary);
  transform: translateY(-6px) translateX(-3px);
  box-shadow: 8px 8px 12px #0369a1;
  
}

/* Tablettes et mobiles larges */
@media screen and (max-width: 1024px) {
  .Hero-link-container {
    gap: 1rem;
  }
  
  .Hero-link {
    min-width: 120px;
  }
}

/* Mobiles (Portrait) */
@media screen and (max-width: 768px) {
  .Hero-link-container {
    flex-direction: column; /* On empile les boutons verticalement */
    align-items: center;
    bottom: 5%;
    gap: 0.8rem;
  }

  .Hero-link {
    width: 100%; /* Les boutons prennent toute la largeur disponible */
    max-width: 280px;
    min-height: 45px;
    font-size: 0.9rem;
  }
}