.Hero-section {
  position: relative; 
  width: 100%;
  line-height: 0;
}

.Hero-imageHero {
  width : 100%;
  height: auto;
  display: block;
}

.Hero-link {
  background-color: var(--accent);
  color: var(--text-main);
  padding: 15px 50px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.Hero-link:hover {
  background-color: var(--accent-hover);
  color:var(--bg-main);
  transform: translateY(-5px) translateX(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  

}

.Hero-link-container {
  position: absolute;
  bottom: 10%;       
  left: 15%;         
  display: flex;
  gap: 20%;
}