.Hero-section {
  position: relative; 
  width: 100%;
  line-height: 0;
}

.Hero-imageHero {
  width : 100%;
  height: auto;
  display: block;
}

.Hero-link-container {
  position: absolute;
  bottom: 10%;       
  left: 15%;         
  display: flex;
  gap: 20%;
} 



.Hero-link {
  min-width: 300px;
  min-height: 60px;
  display: flex ;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--text-main);
  background: linear-gradient(90deg, #0284C7 0%,#0369a1 100%);
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  padding: 10px;
  }


.Hero-link:hover{
  color: var(--text-secondary);
  transform: translateY(-6px) translateX(-3px);
  box-shadow: 8px 8px 12px #0369a1;
  
}

