.NavBar-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: color-mix(in srgb, var(--bg-main), transparent 40%); 
  backdrop-filter: blur(20px);
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;
  margin: 5rem auto;
}

.NavBar-nav a{
  padding:0.4rem;
}