.NavBar-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: color-mix(in srgb, var(--bg-main), transparent 40%); 
  backdrop-filter: blur(20px);
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;
  margin: 5rem auto;
}

.NavBar-nav a{
  padding:1rem;
  transition : all 0.3s ease;
  position: relative;
}

.NavBar-external-link img{
  width: 3rem;
  border-radius: 50%;
}

.NavBar-external-link {
  display:flex;
  padding: 0.4rem;
} 

.NavBar-external-link a{
  padding: 0 0.6rem;
}

.NavBar-logo{
  width: 3rem;
  margin : 0.5rem 1rem;

}

.NavBar-nav a:hover{
  color:var(--accent-hover);
}

.NavBar-nav a::after {
  content: '';
  position: absolute;
  width: 0; /* La ligne commence à 0 */
  height: 2px; /* Épaisseur de la ligne */
  bottom: 0;
  left: 0;
  background-color: var(--accent-hover); /* Couleur de la ligne */
  transition: width 0.3s ease-in-out; /* Animation fluide */
}

.NavBar-nav a:hover::after {
  width: 100%; /* La ligne se trace jusqu'à 100% */
}

@media screen and (max-width : 768px){
  .NavBar-nav{
    display:flex;
    flex-direction: column;
  }
}
