.projects-container{
  display:flex;
  justify-content: space-evenly;
}

@media screen and (max-width : 1200px){
  .projects-container{
  flex-direction: column;
  align-items: center;
  gap:2rem;
 }
}