.SoftSkills-article-container{
  display : grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  padding: 0 20px;
  margin: 0 4rem;
}

.SoftSkills-article{
  background-color: var(--bg-secondary);
  padding: 0 2rem 1rem;
  border-radius: 5px;
}