.SoftSkills-article-container{
  display : grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; 
  padding: 0 20px;
  margin: 0 4rem;
}

.SoftSkills-article{
  background-color: var(--bg-secondary);
  padding: 0 2rem 1rem;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.SoftSkills-article h3 {
  transition: font-size 0.3s ease;
}

.SoftSkills-article p {
  transition: all 0.3s ease;
}

.SoftSkills-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.SoftSkills-article:hover p{
  color: var(--text-main); 
  font-weight: var(--font-weight-bold);
  font-size: 1.16rem;
}

.SoftSkills-article:hover h3{
  font-size: 2rem;
}

@media screen and (max-width : 768px){
  .SoftSkills-article-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .SoftSkills-article{
  width: 100%;
 }
}
